/* Custom Fonts */

/*
@font-face {
  font-family: 'AmsiPro Narrow';
  src: url('../fonts/FONT_NAME.woff2') format('woff2'),
  url('../fonts/FONT_NAME.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
*/
