body .gform_wrapper {

  margin-top: 0;
  margin-bottom: 0;

  ul.gform_fields {
    margin-right: -16px !important;
    li.gfield {
      margin-top: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 16px;
      }
    }
  }

  .nectar-button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    i {
      position: static;
      opacity: 1;
      margin-right: 10px;
      margin-top: -2px;
    }
  }

  .gfield_required {
    color: $title-color;
  }

  .top_label li.gfield.gf_left_half {
    padding-right: 14px;
  }

  .top_label li.gfield.gf_right_half {
    padding-right: 0;
    padding-left: 14px;
  }

  .hidden_label .gfield_label {
    display: none;
  }

  @media screen and (max-width: 640px) {
    .top_label li.gfield.gf_left_half {
      padding-right: 0;
    }
    .top_label li.gfield.gf_right_half {
      padding-left: 0;
    }
  }

  input[type=submit], button[type=submit], input[type="button"] {
    padding: 15px 35px !important;
    background-color: $primary;
    transition: all 150ms ease;
    filter: brightness(100%);
    color: $secondary;
    &:hover {
      filter: brightness(120%);
    }
    .icon-button-arrow {
      margin-left: 10px;
    }
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), select {
    background-color: #FFF;
    margin-top: 0;
    padding: 12px 16px;
    border: 1px solid #c7c7c7;
    border-radius: 0;
    &:focus, &:active {
      border-color: $primary;
    }
  }

  textarea {
    background-color: #FFF;
    padding: 12px 16px;
    border: 1px solid #c7c7c7;
    &:focus, &:active {
      border-color: $primary;
    }
  }

  select {
    padding: 12px !important;
    height: 50px;
    box-shadow: none;
  }

  input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date], .material.woocommerce-page[data-form-style="default"] input#coupon_code, select {
    border-radius: 0;
  }

  li.hidden_label input {
    margin-top: 0;
  }

  .gform_footer {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
  }
}

body.material .gform_wrapper .top_label .gfield_label {
  text-transform: none !important;
  color: $title-color !important;
}

.contact-us {
  .icon-default-style {
    font-size: 20px !important;
    width: auto !important;
    margin-right: 0.25rem !important;
  }
  a {
    color: $title-color;
    font-size: 1rem;
  }
}
