/* General Header Fixes */

// Fix menu text & animated underline when breaking onto multiple lines
#header-outer #top nav > ul > li > a {
  display: flex;
  align-items: center;
  text-align: center;
}

// Adjust the position of the menu dropdown arrow
#header-outer #top nav .sf-sub-indicator {
  left: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

// Prevent the width of menu items from jumping around on hover
body .sf-menu > li:not(.nectar-woo-cart) {
  overflow: visible;
}

// Fix the background of nav buttons to fit their text better
#top nav > ul > li[class*="button_solid_color"] > a::before {
  min-height: calc(100% + 10px);
}


/* Header Customisation */

#header-outer {
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2) !important;
}
