// Needed for the animations
// Usually loaded by Salient, but only if the toggles element is on page.
body .toggle >div{
  display:none;
}

body .toggle[data-inner-wrap="true"] > div {
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  display: block;
}
@media only screen and (max-width: 999px) {
  body .accordion .toggle[data-inner-wrap="true"]:not(.open) > div {
    -webkit-transition: none;
    transition: none;
  }
}

body .toggle[data-inner-wrap="true"].open > div {
  pointer-events: all;
}


// Style overrides
.pvtl-accordion {
  .acc-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .toggle {
    > h3 {
      background-color: $bg-light;
      position: relative;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      transition: all 300ms ease;
      a {
        padding: 0;
        line-height: 1.4;
        font-size: 18px !important;
        font-weight: bold;
        text-transform: uppercase;
        background-color: transparent;
        color: $title-color;
        display: inline-block;
        min-width: 260px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .btn-container {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .acc-btn {
        position: relative;
        z-index: 20;
        background-color: $primary;
        color: $title-color;
        border-radius: 6px !important;
        padding: 12px 20px;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      i {
        margin-left: auto;
        font-size: 20px;
        line-height: 1;
        transition: all 500ms ease;
        transform: rotate(0);
      }

      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 12px 20px;
        a {
          flex: 1;
          min-width: 0;
          font-size: 16px !important;
        }
        .btn-container {
          flex-basis: 100%;
          order: 1;
          margin: 0.25rem 0;
        }
        .acc-btn {
          font-size: 12px !important;
        }
        i {
          line-height: 22px;
          height: 22px;
          width: 22px;
          text-align: center;
        }
      }

      &:hover {
        background-color: darken($bg-light, 5%);
      }
    }
    &.open {
      > h3 {
        i {
          transform: rotate(180deg);
        }
      }
    }
    .toggle-content {
      background-color: transparent;
      box-shadow: none;
      border: none;
      .inner-content {
        padding: 30px;
        line-height: 1.8;
      }
      .content {
        font-size: 14px;
        &:not(:last-child) {
          padding-bottom: 1.5rem;
        }
        h1, h2, h3, h4, h5, h6, ul, ol, p {
          &:not(:last-child) {
            padding-bottom: 1rem;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .inner-content {
          padding: 20px;
        }
        .content {
          font-size: 12px;
        }
      }
    }

  }
}
